@import "../../styles/variables.less";

.services__container {
    .flexColumnCenter;
    width: 100%;
    background-color: fadeout(@tealBase, 80%);
    padding-top: @marginStackM;
}

.services__title {
.fontL;
font-weight: 500;
color: @gray80;
margin-bottom: @marginStackM; 
}

.services__swiper {
    width: 100%;
    margin-bottom: @marginStackM;
}