@import "../../styles/variables.less";

.btn-primary__container {
  width: 100%;
  color: @btnPrimaryClr;
  font-family: @fontFamilyBtn;
  font-style: @fontStyleNormal;
  font-weight: @fontWeightL;
  font-size: @fontSizeXXXS;
  line-height: @lineHeightBtn;
  letter-spacing: @letterSpacingXL;
  text-transform: uppercase;
  border: 1px solid @btnPrymaryBorderClr;
  background-color: @btnPrymaryBgClr;
  border-radius: @btnPrimaryBorderR;
}
.btn-primary__container:hover {
    background-color: lighten(@btnPrymaryBgClr, 5%);
    border-color: lighten(@btnPrymaryBorderClr, 5%);
    transition:  background-color .3s, border-color .3s;
}

.btn-primary__container:active,
.btn-primary__container:focus {
  outline: 0;
}
