@import "../../styles/variables.less";

.btn-secondary__container {
  width: 100%;
  color: @btnSecondaryClr;
  font-family: @fontFamilyBtn;
  font-style: @fontStyleNormal;
  font-weight: @fontWeightL;
  font-size: @fontSizeXXXS;
  line-height: @lineHeightBtn;
  letter-spacing: @letterSpacingXL;
  text-transform: uppercase;
  border: 1px solid @btnSecondaryBorderClr;
  border-radius: @btnSecondaryBorderR;
  background-color: transparent;
}
.btn-secondary__container:hover {
  border-color: lighten(@btnSecondaryBorderClr, 15%);
  color: lighten(@btnSecondaryBorderClr, 15%);
}
.btn-secondary__container:active,
.btn-secondary__container:focus {
  outline: 0;
}
