@import "../../styles/variables.less";

// full Menu
.full-menu__container {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.full-menu__wrap-item {
  height: 100%;
  .flexRowStretch;
}

.full-menu__item {
  .fontMenu;
  .flexRowCenter;
  height: 100%;
  padding: 0 12px;
  box-sizing: border-box;
}

.full-menu__item-selected .full-menu__item {
  color: @gray20;
}

.full-menu__item:hover {
  background-color: fadeout(@gray40, 60%);
  transition: background-color 0.5s;
}

// min Menu

.min-menu__dropdown {
  .flexColumn;
  width: 100%;
  height: auto;
  background-color: fadeout(@menuSlateGray, 4%);
  position: absolute;
}

.min-menu__dropdown-item {
  .fontMenu;
  box-sizing: border-box;
  padding: 10px;
  color: @gray90;
  border-bottom: 1px solid fadeout(@gray40, 80%);
}

.min-menu__dropdown-item:hover {
  background-color: fadeout(@gray40, 80%);
  color: fadein(@gray90, 80%);
}
.min-menu__dropdown-item-first {
  border-top: 1px solid fadeout(@gray40, 80%);
}

.min-menu__item-selected .min-menu__dropdown-item {
  color: @gray20;
}

.min-menu__dropdown-clossed .min-menu__dropdown-item {
  height: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s, padding 0.3s;
}

.min-menu__dropdown-opened .min-menu__dropdown-item {
  transition: max-height 0.3s, padding 0.3s, background-color 0.3s, color 0.3s;
  max-height: 60px;
}

.min-menu__hamburger-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
}

.min-menu__hamburger {
  display: block;
  font-size: 0;
  background: none;
  border: none;
  width: 28px;
  height: 25px;
  position: relative;
  margin-top: 6px;
}

.min-menu__hamburger,
.min-menu__hamburger:before,
.min-menu__hamburger:after {
  border-top: 2px solid @gray90;
  transition: all 0.2s;
}

.min-menu__hamburger:before,
.min-menu__hamburger:after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  right: 0;
}

.min-menu__hamburger:before {
  top: 7px;
}

.min-menu__hamburger:after {
  top: 17px;
}

.min-menu__hamburger.min-menu__dropdown-open {
  border-top-color: transparent;
}

.min-menu__hamburger.min-menu__dropdown-open:after {
  transform: rotate(45deg);
  top: 8px;
}

.min-menu__hamburger.min-menu__dropdown-open:before {
  transform: rotate(-45deg);
  top: 8px;
}
