//  COLORS  ##############################
//...Clr -> color
@linkSmallClr: rgba(130, 200, 250, 1);
@linkLargeClr: rgb(60, 149, 212);


//  FONTS
//...Fs -> font-size
@linkSmallFs: 18px;  
@linkLargeFs: 22px;  