//  COLORS  ##############################

@yellowBase: #f3a72e;
@yellowSmooth: #fcf3d7;
@greenBase: #2fa84f;
@greenSmooth: #dcf7e3;
@redBase: #ea3d2f;
@redSmooth: #fee4e2;
@blueBase: #367bf5;
@blueSmooth: #e6efff;
@tealBase: #069697;
@tealSmooth: #daf5f2;
@gray90: #3e4345;
@gray80: #5e6366;
@gray60: #919699;
@gray40: #c6cacc;
@gray30: #e3e5e6;
@gray20: #f1f3f4;
@gray10: #f7f9fa;
@white: #ffffff;

@linkSmallClr: @blueBase;
@linkLargeClr: @blueBase;

@btnPrimaryClr: rgb(255, 255, 255);
@btnPrymaryBgClr: rgb(0, 90, 160);
@btnSecondaryClr: rgb(0, 90, 160);
@btnSecondaryBgClr: transparent;

// BORDER  ################################
//...R -> radius
@btnPrymaryBorderClr: rgb(0, 90, 160);
@btnPrimaryBorderR: 8px;
@btnSecondaryBorderClr: rgb(0, 90, 160);
@btnSecondaryBorderR: 8px;

//  FONTS   ##########################

//  font family     ////////////////////
@fontFamilyText: 'Quicksand';
@fontFamilyBtn: 'Roboto';

//  font size   ///////////////////////
@fontSizeXL: 96px;
@fontSizeL: 60px;
@fontSizeM: 48px;
@fontSizeXM: 34px;
@fontSizeS: 24px;
@fontSizeXS: 20px;
@fontSizeXXS: 16px;

//  font Style  //////////////////////
@fontStyleBold: bold;
@fontStyleMedium: medium;
@fontStyleNormal: normal;

//  line Height  //////////////////////
@lineHeightXL: 120px;
@lineHeightL: 75px;
@lineHeightM: 60px;
@lineHeightXM: 42px;
@lineHeightS: 30px;
@lineHeightXS: 28px;
@lineHeightXXS: 24px;

//  letter spacing  ////////////////////
@letterSpacingL: 0.44px;
@letterSpacingM: 0.15px;
@letterSpacingS: 0.25px;
@letterSpacingXS: -1.5px;

//  font weight     //////////////////
@fontWeightS: 300;
@fontWeightM: normal;
@fontWeightL: 500;

//  MARGIN  ###########################
@marginXXL: 64px;
@marginXL: 32px;
@marginL: 24px;
@marginM: 16px;
@marginS: 12px;
@marginXS: 8px;

//  margin stack    ////////////////////
@marginStackXXL: @marginXXL;
@marginStackXL: @marginXL;
@marginStackL: @marginL;
@marginStackM: @marginM;
@marginStackS: @marginS;
@marginStackXS: @marginXS;

//  margin inline    ////////////////////
@marginInlineXXL: @marginXXL;
@marginInlineXL: @marginXL;
@marginInlineL: @marginL;
@marginInlineM: @marginM;
@marginInlineS: @marginS;
@marginInlineXS: @marginXS;


///////////////////////////////////
/////////////////////////////////
@linkSmallFs: @fontSizeXXS;
@linkLargeFs: @fontSizeXS;

@btnPrymaryFw: @fontWeightL;
@btnPrymaryLh: 220%;
@btnSecondaryFw: @fontWeightL;
@btnSecondaryLh: 220%;
