@import "../../styles/variables.less";

.two-column-text__container {
  background-color: @redSmooth;
}

.two-column-text__wrap-content {
  .container;
  .flexRowCenter;
  align-items: flex-start;
  padding-top: @marginStackM;
}

.two-column-text__left-container {
  width: 50%;
  box-sizing: border-box;
  margin-bottom: @marginStackM;
}

.two-column-text__right-container {
  width: 50%;
  box-sizing: border-box;
  margin-bottom: @marginStackM;
}

@media (max-width: 780px) {
  .two-column-text__wrap-content {
    .flexColumnCenter;
  }

  .two-column-text__left-container,
  .two-column-text__right-container {
    width: 100%;
    margin: 0 @marginInlineM;
  }
}
