@import "../../styles/variables.less";

.logo {
    display: "inline-block";
    color: @blueSmooth;
    padding: 10px;
    font-weight: bold;
}

.logo:hover {
    color: lighten( @blueSmooth, 10%);
}