@import "../../styles/variables.less";

.logo {
    margin-left: @marginL;
    display: "inline-block";
    color: @blueSmooth;
    line-height: 220%;
    font-weight: bold;
}

.logo:hover {
    color: darken( @blueSmooth, 10%);
}