@import "../../styles/variables.less";
.header__container {
  width: 100%;
  background-color: @menuSlateGray;
}
.header__wrap-content {
  .container;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  position: relative;
  width: 100%;
  //padding: 0 24px;
  //box-sizing: border-box;
  @media (max-width: @laptopMedia) {
    flex-wrap: wrap;
  }

}

.header__wrap-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.header__logo-container {
  margin-right: @marginInlineM;
}

.header__wrap-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;

  @media (max-width: @laptopMedia) {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }

  @media (max-width: 480px) {
    justify-content: space-between;
  }

}


