@import "../../styles/variables.less";

.footer__container {
  background-color: @menuSlateGray;
}

.footer__wrap-content {
  .container;
  .flexColumnCenter;
  width: 100%;
}

.footer__links-container {
  .flexRowCenter;
  width: 100%;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: @marginS;
}

.footer__links-block_title {
  .fontS;
  color: @gray40;
}
